<div class="google-header">
  <div class="logo">
      <img src="/images/opower.gif" alt="OPOWER" height="59px;" width="143px;">
  </div>
   <div id="header_complement">
    Not Signed In
  </div>
</div>


<div class="home">
    <div class="request">
        <p><strong>Catapult</strong> uses your <strong>@opower</strong>.com account for authentication.</p>
        <p>
            <span class="verified"></span>    <a href="https://wiki.opower.com/x/Epe8">What is Catapult?</a>
        </p>
        
        <div class="googlebutton">
            <a href="/auth">Sign In</a>
        </div>




        <p class="confidential">OPOWER CONFIDENTIAL</p>


        <div class="wantAccess">
            <a href="http://opowerjobs.com">Want Access?</a>
        </div>


    </div>

</div>
