<h2>Your Referrals</h2>
<p>Found <%= results.candidates.length %> Records</p>

<table class="datatable candidates" data-sort-column="2" data-sort-direction="desc">

    <thead>
        <tr>
            <th>Candidate</th>
            <th>Status</th>
            <th data-sSortDataType="data" data-sType="numeric">Date</th>
            <th>Position</th>
            <th>Referral</th>
            <th>Recruiters</th>
            <th>Hiring Managers</th>
            </tr>
    </thead>
    <tbody>
        <%- partial('referrals/candidate.ejs', { collection: results.candidates, as: 'candidate',  jobs: results.jobs }) %>
    </tbody>
</table>

