
<h2>Your Referrals</h2>
<p>Also try your referral's name or just your last name.</p>

<div class="filter">
<form class="search" action="/search" method="get">
    <input class="query" name="q" id="q" value="<%= locals.query || '' %>" placeholder="Your name or candidate's name" />
    <label for="q"><a href="/search" class="button "><span class="icon magnifying-glass"></span>Search</a></label>
    <input type="submit" class="hidden" value="Search" />
    <% if (locals.query) { %>
    <span><%= results.candidates.length %> Records Found</span>
    <% } %>

</form>
</div>
<% if (locals.query) { %>

<table class="datatable candidates" data-sort-column="2" data-sort-direction="desc">

    <thead>
        <tr>
            <th>Candidate</th>
            <th>Status</th>
            <th data-sSortDataType="data" data-sType="numeric">Date</th>
            <th>Position</th>
            <th>Referral</th>
            <th>Recruiters</th>
            <th>Hiring Managers</th>
            </tr>
    </thead>
    <tbody>
        <%- partial('referrals/candidate.ejs', { collection: results.candidates, as: 'candidate',  jobs: results.jobs }) %>
    </tbody>
</table>

<% } %>