
/*
http://www.colourlovers.com/palette/694737/Thought_Provoking
http://www.colourlovers.com/palette/772970/200fruits_of_passion


*/

.colorHire {
    background-color: #1C75BC;
}

.colorProcess {
    background-color: #F07818;
}

.colorRejected {
    background-color: #333;
}

.color0 {
    background-color: #1C75BC;
}

.color1 {
    background-color: #00A0B0; /* 0/160/176 */
}

.color2 {
    background-color: #F0A830; /* 240/168/48 */

}

.color3 {
    background-color: #F07818; /* 240/120/24 */

}

.color4 {
    background-color: #53777A;  /* 83/119/122 */

}

.color5 {
    background-color: #D95B43  /* HEX 217/91/67; */
}

.color6 {
    background-color: #B5AC01; /* 181/172/1 */
}

.color7 {
    background-color: #D41E45; /* 212/30/69 */
}

.color8 {
    background-color: #C02942; /* 192/41/66 */
}

.color9 {
    background-color: #542437; /* 84/36/55 */
}

.color10 {
    background-color: #5E412F; /* 94/65/47 */
}

.color11 {
    background-color: #888;
}

.color12 {
    background-color: #777;
}

.color13 {
    background-color: #666;
}

.color14 {
    background-color: #555;
}

.color15 {
    background-color: #444;
}

.color16 {
    background-color: #333;
}

.tick.low {
    background: green;
    background: -moz-linear-gradient(0% 0% 270deg, #91BD09, #002E03);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#91BD09), to(#002E03), color-stop(.9, #055702));
}

.tick.medium {
    background: orange;
    background: -moz-linear-gradient(0% 0% 270deg, #FFB515, #2E2C01);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFB515), to(#2E2C01), color-stop(.9, #575407))
}

.tick.high {
    background: red;
    background: -moz-linear-gradient(0% 0% 270deg, #E33100, #2E0900);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E33100), to(#2E0900), color-stop(.9, #571300));
}


.count.low {
    background: green;
    background: -moz-linear-gradient(rgba(108, 239, 113, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(108, 239, 113, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
}

.count.medium {
    background: orange;
    background: -moz-linear-gradient(rgba(219, 178, 51, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 178, 51, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
}

.count.high {
    background: red;
    background: -moz-linear-gradient(rgba(219, 73, 51, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 73, 51, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
}
