.req .instructions {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.req label {
    display: block;
    
}

.req textarea {
    width: 90%;
}

.req .edit,
.req .preview {
    float: left;
    width: 50%;
}

.preview-wrapper {
    background: #ADDEF7;
    padding: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.preview-content {
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}