

/* Title Filters */
.swimlanes td {
    vertical-align: top;
    white-space: normal;
    width: 360px;
}

.swimlanes th {
    text-align: left;
}


.filter {
    padding: 7px;
    display: inline-block;
    background-color: #eee;
    margin-bottom: 10px;
}


.titles A {
    border: 2px solid #fff;
    display: block;
    float: left;
    padding: 4px 20px 4px 10px;
    margin: 5px 5px 2px 0;
    white-space: nowrap;
    line-height: 1em;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    position: relative;
    font-size: 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.titles .button {
    padding: 2px 5px 2px 5px;
    font-size: 10px;
}

.titles A .x {
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.titles .filter-out {
    -webkit-box-shadow: 0 0 4px gray;
    opacity: 0.5;
}


.titles A:hover {
    border: 2px solid black;
}

.swimlanes {
    min-height: 150px;
}

.swimlanes h4 {
    min-height: 24px;
    font-size: smaller;
    text-align: center;
}

table.swimlanes {
    margin: 0;
    width: 100%;
}

table.swimlanes td {
    padding: 0;
    margin: 0;
}

.swimlanes .swimlane {
    padding: 0;
    margin: 0 5px 0 0;
    overflow: hidden;
    list-style: none;
}

.swimlanes .candidate-mini {
    float: none;
    overflow: hidden;
    padding: 0;
    width: 99%;
    white-space: nowrap;
}

.other-swimlane ul {
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

}

.other-swimlane .candidate-mini {
    width: 170px;
    float: left;
}

.other-swimlane .description {
    font-size: 11px;
    background-color: #eee;
    padding: 2px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}