<!-- not usable yet -->

<td class="score" data-sort="<%= person.count %>" colspan="5">
<div class="score">

<span class="tickgroup">
    <%- (new Array(0 + 1)).join('<span class="low tick"></span>') %>
</span>
<span class="tickgroup">
    <%- (new Array(0 + 1)).join('<span class="medium tick"></span>') %>
</span>
<span class="tickgroup">
    <%- (new Array(0 + 1)).join('<span class="high tick"></span>') %>
</span>
</div>
</td>